<form action="/admin" method="POST" rules="form" >
  <div class="form-group">
    <label>Barber:</label>
    <input name="barber" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

